{% extends "base.html" %}

{% block content %}
<a href="/add">Add Book</a>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Published Date</th>
        <th>Actions</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.published_date }}</td>
        <td>
            <a href="/delete/{{ book.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}